<% provide :title, "Betalen met spullen"  %>
<h1>Betalen met spullen</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= t("text.betalen_met_spullen.page_header")  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= t("text.betalen_met_spullen.possibly_accepted_shit.header")  %>
      <ul>
        <li><%= t("text.betalen_met_spullen.possibly_accepted_shit.furniture") %></li>
        <li><%= t("text.betalen_met_spullen.possibly_accepted_shit.watches") %></li>
        <li><%= t("text.betalen_met_spullen.possibly_accepted_shit.phones") %></li>        
        <li><%= t("text.betalen_met_spullen.possibly_accepted_shit.toys") %></li>        
        <li><%= t("text.betalen_met_spullen.possibly_accepted_shit.comics") %></li>        
        <li><%= t("text.betalen_met_spullen.possibly_accepted_shit.tools") %></li>               
        <li><%= t("text.betalen_met_spullen.possibly_accepted_shit.liquor") %></li>        
        <li><%= t("text.betalen_met_spullen.possibly_accepted_shit.wii_games") %></li>        
        <li><%= t("text.betalen_met_spullen.possibly_accepted_shit.linens") %></li>        
        <li><%= t("text.betalen_met_spullen.possibly_accepted_shit.pallets") %></li>        
        <li><%= t("text.betalen_met_spullen.possibly_accepted_shit.any_ideas") %></li>                
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= t("text.betalen_met_spullen.possibly_accepted_sevices.header")  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= t("text.betalen_met_spullen.possibly_accepted_sevices.shit_i_dont_like")  %>
      <ul>
        <li><%= t("text.betalen_met_spullen.possibly_accepted_sevices.taxes")%></li>
      </ul>
    </div>
  </div>

</div>
