<% provide :title, "Tarieven voor geld"  %>
<div class="container mar-t-3-pc">
    <div class="row">
        <div class="col-md-4">
          <h4><%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.header") %></h4>
        </div>
        <div class="col-md-4">
          <h4><%= t("text.tarieven_voor_betalen_met_geld.must_haves.header") %></h4>
        </div>
        <div class="col-md-4">
          <h4><%= t("text.tarieven_voor_betalen_met_geld.would_haves.header")  %></h4>
       </div>
   </div>
   <div class="row">
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.costs")  %>
       </div>
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.must_haves.costs")  %>
       </div>
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.would_haves.costs")  %>
       </div>
   </div>    
   <div class="row">
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.specs")  %>
       </div>
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.must_haves.specs")  %>
       </div>
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.would_haves.specs")  %>
       </div>
   </div>        
   <div class="row">
      <div class="col-md-4">
          <ul>
              <li><%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.example1")  %></li>
              <li><%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.example2")  %></li>
              <li><%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.example3")  %></li>
              <li><%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.example4")  %></li>
              <li><%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.example5")  %></li>
              <li><%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.example6")  %></li>
              <li><%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.example7")  %></li>
          </ul>

      </div>
      <div class="col-md-4">
          <ul>
              <li><%= t("text.tarieven_voor_betalen_met_geld.must_haves.example1")  %></li>
              <li><%= t("text.tarieven_voor_betalen_met_geld.must_haves.example2")  %></li>
              <li><%= t("text.tarieven_voor_betalen_met_geld.must_haves.example3")  %></li>
          </ul>
      </div>
      <div class="col-md-4">
          <ul>
              <li><%= t("text.tarieven_voor_betalen_met_geld.would_haves.example1")  %></li>
              <li><%= t("text.tarieven_voor_betalen_met_geld.would_haves.example2")  %></li>
              <li><%= t("text.tarieven_voor_betalen_met_geld.would_haves.example3")  %></li>
          </ul>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <%= t("text.tarieven_voor_betalen_met_geld.extra_services")  %>
      </div>
      <div class="col-md-12">
         <%= t("text.tarieven_voor_betalen_met_geld.overnight_services")  %>
      </div> 
      <div class="col-md-12">
         <%= t("text.tarieven_voor_betalen_met_geld.percentage_50")  %>
      </div>    
   </div>
</div>
