<% provide :title, "Tarieven voor geld"  %>
<h1>Tarieven voor geld</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
           <%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.header") %>
        </div>
        <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.must_haves.header") %>
        </div>
        <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.would_haves.header")  %>
       </div>
   </div>
   <div class="row">
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.costs")  %>
       </div>
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.must_haves.costs")  %>
       </div>
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.would_haves.costs")  %>
       </div>
   </div>    
   <div class="row">
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.specs")  %>
       </div>
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.must_haves.specs")  %>
       </div>
       <div class="col-md-4">
          <%= t("text.tarieven_voor_betalen_met_geld.would_haves.specs")  %>
       </div>
   </div>        
   <div class="row">
      <div class="col-md-4">
         <%= t("text.tarieven_voor_betalen_met_geld.obvious_errors.example")  %>
      </div>
      <div class="col-md-4">
         <%= t("text.tarieven_voor_betalen_met_geld.must_haves.example")  %>
      </div>
      <div class="col-md-4">
         <%= t("text.tarieven_voor_betalen_met_geld.would_haves.example")  %>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <%= t("text.tarieven_voor_betalen_met_geld.extra_services")  %>
      </div>
      <div class="col-md-12">
         <%= t("text.tarieven_voor_betalen_met_geld.overnight_services")  %>
      </div> 
      <div class="col-md-12">
         <%= t("text.tarieven_voor_betalen_met_geld.percentage_50")  %>
      </div>    
   </div>
</div>
