<% provide :title, "Verkoopverhalltje, maar dan uitgebreider"  %>

<div class="container mar-t-3-pc">
   <div class="row">
       <div class="col-md-4">
          <h4><%= t("text.verkoopverhalltje_maar_dan_uitgebreider.error_removal.header") %></h4>
       </div>
       <div class="col-md-4">
           <h4><%= t("text.verkoopverhalltje_maar_dan_uitgebreider.cheap.header") %></h4>
       </div>
       <div class="col-md-4">
           <h4><%= t("text.verkoopverhalltje_maar_dan_uitgebreider.more.header") %></h4>
       </div>
   </div>
   <div class="row">
       <div class="col-md-4">
           <%= t("text.verkoopverhalltje_maar_dan_uitgebreider.error_removal.content") %>
       </div>
       <div class="col-md-4">
           <%= t("text.verkoopverhalltje_maar_dan_uitgebreider.cheap.content") %>
       </div>
       <div class="col-md-4">
           <%= t("text.verkoopverhalltje_maar_dan_uitgebreider.more.content") %>
       </div>
   </div>
</div>
