<% provide :title, "Verkoopverhalltje, maar dan uitgebreider"  %>
<h1>Verkoopverhalltje, maar dan uitgebreider</h1>
<div class="container-fluid">
   <div class="row">
       <div class="col-md-4">
           <%= t("text.verkoopverhalltje_maar_dan_uitgebreider.error_removal.header") %>
       </div>
       <div class="col-md-4">
           <%= t("text.verkoopverhalltje_maar_dan_uitgebreider.cheap.header") %>
       </div>
       <div class="col-md-4">
           <%= t("text.verkoopverhalltje_maar_dan_uitgebreider.more.header") %>
       </div>
   </div>
   <div class="row">
       <div class="col-md-4">
           <%= t("text.verkoopverhalltje_maar_dan_uitgebreider.error_removal.content") %>
       </div>
       <div class="col-md-4">
           <%= t("text.verkoopverhalltje_maar_dan_uitgebreider.cheap.content") %>
       </div>
       <div class="col-md-4">
           <%= t("text.verkoopverhalltje_maar_dan_uitgebreider.more.content") %>
       </div>
   </div>
</div>
