<% provide :title, "Werkwijze"  %>
<div class="container mar-t-3-pc">
   <div class="row">
      <div class="col-md-6">
         <%= t("text.werkwijze.step1.title") %>
      </div>
      <div class="col-md-6">
         <%= t("text.werkwijze.step1.comment") %>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
          <%= t("text.werkwijze.step2.comment") %>
      </div>
      <div class="col-md-6">
          <%= t("text.werkwijze.step2.title") %>
      </div>
   </div>   
   <div class="row">
      <div class="col-md-6">
          <%= t("text.werkwijze.step3.title") %>
      </div>
      <div class="col-md-6">
          <%= t("text.werkwijze.step3.comment") %>
      </div>
   </div> 
   <div class="row">
       <div class="col-md-6">
           <%= t("text.werkwijze.step4.comment") %>
       </div>
       <div class="col-md-6">
           <%= t("text.werkwijze.step4.title") %>
       </div>
   </div>  
   <div class="row">
       <div class="col-md-6">
          <%= t("text.werkwijze.step5.title") %>
       </div>
       <div class="col-md-6">
          <%= t("text.werkwijze.step5.comment") %>
       </div>
   </div>  
   <div class="row">
       <div class="col-md-6">
           <%= t("text.werkwijze.step6.comment") %>
       </div>
       <div class="col-md-6">
           <%= t("text.werkwijze.step6.title") %>
       </div>
   </div> 
   <div class="row">
       <div class="col-md-6">
          <%= t("text.werkwijze.step7.title") %>
      </div>
      <div class="col-md-6">
          <%= t("text.werkwijze.step7.comment") %>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
          <%= t("text.werkwijze.pay_in_kind") %>
      </div>
   </div>  
</div>
